@page
@model JoceApp.Pages.ExperienceModel
@{
}

<div class="text-center">
    <h1 class="display-4">Preschool Practicum Experience</h1>
    <hr/>
    <br/>

    <div class="card-group">
        <div class="card">
			<img src="~/pics/jocecloset.png" />
            <div class="card-body">
                <h5 class="card-title">Grocery Store</h5>
                <p class="card-text" align="left">Before my unit started, we turned our dramatic play area into a grocery store where we had different food and had grocery catalogs to look at. In some of them they had flowers in them so I would ask the children things like, “I would like to purchase/place an order on some flowers”, “what should we have here, so we have flowers?” I would also sometimes be the one pretending to order different colored flowers for the children and I'll give them an estimate of what the supposed delivery person said.</p>
            </div>
        </div>
        <div class="card">
			<img src="~/pics/jocekids.png" />
            <div class="card-body">
                <h5 class="card-title">Name Brainstorming</h5>
                <p class="card-text" align="left">For the first day of my unit, I had written a question of the day being, “What should we name our flower shop?” So, during arrival time I asked the children this question and wrote down their responses. I also asked this question again to the group during our first group time. We then had a voting session where I asked them to raise their hand if they wanted that specific name to be our new name for our flower shop. With the highest voted name, we made a sign with the name and decorated it and hung it in front of our flower shop, so we were now able to start the week/day going into our flower machine shop.</p>
            </div>
        </div>
        <div class="card">
			<img src="~/pics/joceflowers.png" />
            <div class="card-body">
                <h5 class="card-title">Flower Shop</h5>
                <p class="card-text" align="left">In the flower shop we had aprons for our little florist and a black daisy apron that the managers (teachers) would wear. I also made business cards for the shop and flower shop order forms so that customers can fill out. I also included a few flower catalogs to look at.</p>
            </div>
        </div>
    </div>


</div>
