@page
@model JoceApp.Pages.ToolboxModel
@{
}

<div class="text-center">
    <h1 class="display-4">Toolbox</h1>
    <hr />

    <img class="customImage" src="~/pics/kuromi sad writing.jpg" />
    <br />
    <br />
    <h5>WORK IN PROGRESS!!</h5>
    <p>Still working on this so nothing to add yet B)</p>


</div>
